/* Global Styles */
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
/* high score button */
#view-high-scores-button {
  color: blueviolet;
  font-size: 15px;
  font-weight: bolder;
}
/* timer */
#timer {
  color: black;
  font-size: 15px;
}
/* coding quiz challenge title*/
h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
/* questions styles, high score styles */
h2 {
  display: flex;
  justify-content: left;
  font-size: 30px;
}
/* main page paragraph styling */
p {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-top: 2%;
  font-size: 20px;
  text-align: center;
}
/* start quiz button styles*/
#start-quiz-button {
  background-color: navy;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 150px;
  margin-left: 45%;
  margin-right: 45%;
}

#start-quiz-button:hover,
.answer-button:hover {
  background-color: blueviolet;
}
/* high score html styling */
#quiz-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
}

#score-box {
  background-color: grey;
  width: 700px;
  height: 30px;
}

#start-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#quiz-container {
  display: none;
}

#all-done-container {
  display: none;
}

#question {
  font-size: 30px;
  font-weight: bold;
  justify-content: left;
  margin-left: 20%;
}

/* answer choices */
#answer-choices {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 5%;
  padding-right: 55%;
}

/* answer buttons */
.answer-button {
  background-color: navy;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 300px;
  margin-left: 45%;
  margin-right: 45%;
}

/* responsive design */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}
